body {
    min-height: 100vh;
    padding-top: 75px;
    padding-bottom: 20px;
    position: relative;

    font-family: 'Roboto', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 25px;
    padding-right: 25px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.text-bold {
    font-weight: bold;
}

/* Change icons margin */
span.glyphicon {
    margin-right: 5px;
}

/***** LOGO *****/
.navbar-brand {
    font-size: 25px;
    padding: 0 30px 0 25px;
    display: flex;
    align-items: center;
}

.navbar-brand span {
    color: #39BC9D;
}

.navbar-brand .glyphicon {
    margin-right: 10px;
}

.navbar-brand .main-word-logo {
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
}

/***** VIEW DETAILS *****/
.view-details-modal .product-name {
    color: #39BC9D;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;
}

.view-details-modal .dl-horizontal {
    font-size: 16px;
    margin-bottom: 0;
}

.view-details-modal .dl-horizontal dd {
    margin-bottom: 15px;
}

.view-details-modal .stock-details {
    font-weight: bold;
    font-size: 18px;
}

.view-details-modal .stock-details dd {
    color: #2E3F4F;
}

/* View details photo */

.view-details-photo-container {
    margin-bottom: 25px;
    text-align: center;
}

.view-details-photo-container img {
    max-height: 300px;
    max-width: 300px;
    width: 100%;
}

/***** INPUT FILE - PHOTO *****/

.input-photo-container input[type='file'] {
    display: none;
}

.input-photo-container label {
    background-color: #2E3F4F;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    display: block;
    margin: auto;
    padding: 10px 0;
    text-align: center;
    width: 400px;
}

.input-photo-container label:hover {
    background-color: #1D2730;
}

.photo-container {
    margin: 0 auto 10px auto;
}

.photo-container img {
    border: 2px dashed #DDE4EC;
    border-radius: 5px;
    display: block;
    margin: auto;
    max-height: 400px;
    max-width: 400px;
    min-height: 100px;
    position: relative;
    width: 100%;
}

.photo-container img::before {
    content: 'Sin foto';
    color: #BECBDA;
    font-weight: bold;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

/***** PAGE TITLES *****/
.page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-title h2 {
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
}

.page-title h2 span {
    margin-right: 10px;
}

/***** TABLES *****/

.table {
    font-size: 16px;
}

.table tr {
    border-bottom: 1px solid #F7F7F7;
}

.table tbody tr td,
.table thead tr th {
    vertical-align: middle;
    text-align: center;
}

/* Labels */
.label {
    font-size: 13px;
}

/* Action buttons */

.action-buttons button,
.action-buttons a {
    padding: 7px 10px;
}

.action-buttons .glyphicon {
    margin-right: 0;
}

/***** SALE PRODUCTS LIST *****/

.add-sale-product h4 {
    margin-bottom: 20px;
}

.add-sale-product .sale-product {
    background-color: #ECF0F1;
}

.sale-products-list .sale-product,
.add-sale-product .sale-product {
    margin: 0;
    padding: 5px 10px;
}

.sale-products-list .sale-product {
    border: 1px solid #ECF0F1;
}

.sale-products-list .sale-product .action-buttons,
.add-sale-product .sale-product .action-buttons {
    margin-top: 27px;
    margin-bottom: 10px;
}

.sale-products-list .sale-product p {
    margin: 10px 0 10px 0;
}

/***** PAGINATION *****/
.pagination-container {
    text-align: center;
}


/***** FOOTER *****/

.footer {
    padding: 15px;
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;
}

.footer p {
    margin: 0;
}