body {
    min-height: 100vh;
    padding-top: 75px;
    padding-bottom: 20px;
    position: relative;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/***** CONTAINER *****/

@media (min-width: 1500px) {
    .container {
        width: 1450px !important;
    }
}

/***** PAGE TITLES *****/

.container .page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/***** TABLES *****/

/* Action buttons */

.action-buttons button {
    padding: 7px 10px;
}

/***** FOOTER *****/

.footer {
    padding: 15px;
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;
}

.footer p {
    margin: 0;
}