@Styles.Render("~/Content/jquery-confirm")
@Scripts.Render("~/bundles/jquery-confirm")

<script>

    var addSaleDetailButton = $("#AddSaleDetail");
    var saleDetailElementsList = $("#SaleDetailElementsList");
    var createSaleForm = $("#CreateSaleForm");

    // Sale details information
    var taxesPercentage = 0.13;
    var saleDetails = [];

    addSaleDetailButton.on('click', addSaleDetail);

    function addSaleDetail() {
        var productId = createSaleForm.find('[name = "ProductInput"]').val();
        var quantity = createSaleForm.find('[name = "QuantityInput"]').val();
        var discount = createSaleForm.find('[name = "DiscountInput"]').val() || 0;

        if (!isValidData(productId, quantity, discount)) {
            return;
        }

        getProductData(productId, function (productData) {
            if (quantity > productData.Stock) {
                showErrorMessage("La cantidad no puede ser mayor a las existencias del producto. Existencias: " + productData.Stock);
                return;
            }

            if (discount > productData.Price) {
                showErrorMessage("El descuento no puede ser mayor al precio del producto. Precio actual: $" + productData.Price);
                return;
            }

            // These values are rounded now to avoid repeating the rounding later
            quantity = round(quantity);
            discount = round(discount);

            var saleDetail = {
                id: productData.Id,
                productName: productData.Name,
                unitTypeName: productData.UnitTypeName,
                quantity: quantity,
                price: productData.Price,
                discount: discount,
                newPrice: productData.Price - discount,
                total: round((productData.Price - discount) * quantity)
            };

            saleDetails.push(saleDetail);

            updateSaleDetailElements();
        });
    }

    function isValidData(productId, quantity, discount) {
        // Validate existence
        if (!productId) {
            showErrorMessage("Debe seleccionar un producto.")
            return false;
        }

        if (!quantity) {
            showErrorMessage("Debe colocar la cantidad a vender.")
            return false;
        }

        var searchSaleDetailById = $("#ProductSale-" + productId);

        if (searchSaleDetailById.length > 0) {
            showErrorMessage("El producto que ha seleccionado ya existe en la lista.")
            return false;
        }

        // Reject negative values
        if (quantity < 0) {
            showErrorMessage("La cantidad no puede ser negativa.")
            return false;
        }

        if (discount < 0) {
            showErrorMessage("El descuento no puede ser negativo.")
            return false;
        }

        return true;
    }

    function getProductData(productId, callback) {
        var url = "@Url.Action("GetProductById", "Data")";

        $.ajax({
            url,
            data: { id: productId },
            type: 'GET',
            dataType: 'json',
            error: function (error) {
                showErrorMessage("El producto que ha seleccionado no existe.")
            },
            success: callback
        })
    }

    function updateSaleDetailElements() {
        saleDetailElementsList.empty();

        if (saleDetails.length == 0) {
            var emptyListElement = $('<p class="empty-list text-muted text-center">Sin productos agregados</p>');
            saleDetailElementsList.append(emptyListElement);
        }

        $.each(saleDetails, function (index, saleDetail) {
            var saleDetailElement = createSaleDetailElement(index, saleDetail);
            saleDetailElementsList.append(saleDetailElement);
        });

        updateSaleDetailsInfo();
    }

    function updateSaleDetailsInfo() {
        var saleDetailsInfo = {
            quantity: 0,
            subtotal: 0,
            taxes: 0,
            total: 0
        }

        $.each(saleDetails, function (index, saleDetail) {
            saleDetailsInfo.quantity += 1;
            saleDetailsInfo.subtotal += saleDetail.total;
        });

        saleDetailsInfo.subtotal = round(saleDetailsInfo.subtotal);
        saleDetailsInfo.taxes = round(saleDetailsInfo.subtotal * taxesPercentage);
        saleDetailsInfo.total = saleDetailsInfo.subtotal + saleDetailsInfo.taxes;

        $("#SaleDetailsQuantity").text(saleDetailsInfo.quantity);
        $("#SaleDetailsSubtotal").text(saleDetailsInfo.subtotal);
        $("#SaleDetailsTaxes").text(saleDetailsInfo.taxes);
        $("#SaleDetailsTotal").text(saleDetailsInfo.total);
    }

    function createSaleDetailElement(index, saleDetail) {
        var saleDetailElement = $(`
            <div id="ProductSale-${saleDetail.id}" class="row sale-product">
                <div class="form-group col-lg-5">
                    <input type="hidden" name="SaleDetails[${index}].ProductId" value="${saleDetail.id}" />
                    <input type="text" class="form-control" value="${saleDetail.id}. ${saleDetail.productName} - ${saleDetail.unitTypeName}" disabled />
                </div>
                <div class="form-group col-lg-2">
                    <input type="hidden" name="SaleDetails[${index}].Quantity" value="${saleDetail.quantity}" />
                    <input type="text" class="form-control" value="${saleDetail.quantity}" disabled />
                </div>
                <div class="form-group col-lg-1">
                    <input type="text" class="form-control" disabled="true" value="$${saleDetail.price}" />
                </div>
                <div class="form-group col-lg-1">
                    <input type="hidden" name="SaleDetails[${index}].Discount" value="${saleDetail.discount}" />
                    <input type="text" class="form-control" value="$${saleDetail.discount}" disabled />
                </div>
                <div class="form-group col-lg-1">
                    <input type="text" class="form-control" disabled="true" value="$${saleDetail.newPrice}" />
                </div>
                <div class="form-group col-lg-1">
                    <input type="text" class="form-control" disabled="true" value="$${saleDetail.total}" />
                </div>
                <div class="action-buttons col-lg-1">
                    <button type="button" class="btn btn-danger" onclick="confirmSaleDetailDeletion(${saleDetail.id})">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </div>
        `);

        return saleDetailElement;
    }

    function confirmSaleDetailDeletion(productId) {
        $.confirm({
            icon: 'glyphicon glyphicon-trash',
            title: '¿Está seguro?',
            content: 'Se removerá del listado de productos de la venta.',
            type: 'red',
            backgroundDismiss: true,
            buttons: {
                confirm: {
                    text: 'Si, remover',
                    btnClass: 'btn btn-danger',
                    action: function () {
                        removeSaleDetailById(productId);
                    }
                },
                cancel: {
                    text: 'Cancelar',
                    btnClass: 'btn btn-default',
                }
            },
            closeIcon: true,
        })
    }

    function removeSaleDetailById(productId) {
        var newSaleDetails = $.grep(saleDetails, function (saleDetail) {
            return saleDetail.id != productId
        });

        if (saleDetails.length == newSaleDetails.length) {
            showErrorMessage("El producto que desea borrar no existe.");
        }

        saleDetails = newSaleDetails;

        updateSaleDetailElements();
    }

    function showErrorMessage(message) {
        $.alert({
            icon: 'glyphicon glyphicon-exclamation-sign',
            title: 'Error!',
            content: message,
            type: 'red',
            backgroundDismiss: true
        });
    }

    function round(number) {
        var roundedNumber = parseFloat(number).toFixed(2);
        return parseFloat(roundedNumber);
    }

</script>